<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuka.dao.OperatorLogMapper">
  <resultMap id="BaseResultMap" type="com.kuka.domain.OperatorLog">
    <!--@mbg.generated-->
    <!--@Table operator_log-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, [type], type_name, code, msg, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from operator_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from operator_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.kuka.domain.OperatorLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into operator_log ([type], type_name, code, 
      msg, create_time)
    values (#{type,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{msg,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.kuka.domain.OperatorLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into operator_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        [type],
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="msg != null">
        msg,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuka.domain.OperatorLog">
    <!--@mbg.generated-->
    update operator_log
    <set>
      <if test="type != null">
        [type] = #{type,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuka.domain.OperatorLog">
    <!--@mbg.generated-->
    update operator_log
    set [type] = #{type,jdbcType=VARCHAR},
      type_name = #{typeName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      msg = #{msg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into operator_log
    ([type], type_name, code, msg, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.type,jdbcType=VARCHAR}, #{item.typeName,jdbcType=VARCHAR}, #{item.code,jdbcType=VARCHAR}, 
        #{item.msg,jdbcType=VARCHAR}, #{item.createTime,jdbcType=DATE})
    </foreach>
  </insert>

    <select id="queryOperatorLogCount" resultType="java.lang.Long">
        select count(1) from operator_log
    </select>

    <select id="queryOperatorLogList" resultType="com.kuka.domain.OperatorLog">
        SELECT * FROM
        (
        SELECT ROW_NUMBER() OVER (ORDER BY id) AS RowNum, *
        FROM (
        select *
        from operator_log
        ) a
        )b

        WHERE RowNum BETWEEN (#{pageDto.page}-1)*#{pageDto.limit}+1 AND #{pageDto.page}*#{pageDto.limit}
    </select>
</mapper>