<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuka.dao.SalOrderMapper">
  <resultMap id="BaseResultMap" type="com.kuka.domain.SalOrder">
    <!--@mbg.generated-->
    <!--@Table sal_order-->
    <id column="out_order_code" jdbcType="VARCHAR" property="outOrderCode" />
    <result column="branch_id" jdbcType="VARCHAR" property="branchId" />
    <result column="danw_bh" jdbcType="VARCHAR" property="danwBh" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="is_online_pay" jdbcType="TINYINT" property="isOnlinePay" />
    <result column="is_zx" jdbcType="VARCHAR" property="isZx" />
    <result column="upload_status" jdbcType="TINYINT" property="uploadStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    out_order_code, branch_id, danw_bh, create_time, note, is_online_pay, is_zx, upload_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sal_order
    where out_order_code = #{outOrderCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from sal_order
    where out_order_code = #{outOrderCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kuka.domain.SalOrder">
    <!--@mbg.generated-->
    insert into sal_order (out_order_code, branch_id, danw_bh, 
      create_time, note, is_online_pay, 
      is_zx, upload_status)
    values (#{outOrderCode,jdbcType=VARCHAR}, #{branchId,jdbcType=VARCHAR}, #{danwBh,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{isOnlinePay,jdbcType=TINYINT}, 
      #{isZx,jdbcType=VARCHAR}, #{uploadStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.kuka.domain.SalOrder">
    <!--@mbg.generated-->
    insert into sal_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="outOrderCode != null">
        out_order_code,
      </if>
      <if test="branchId != null">
        branch_id,
      </if>
      <if test="danwBh != null">
        danw_bh,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="isOnlinePay != null">
        is_online_pay,
      </if>
      <if test="isZx != null">
        is_zx,
      </if>
      <if test="uploadStatus != null">
        upload_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="outOrderCode != null">
        #{outOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="danwBh != null">
        #{danwBh,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="isOnlinePay != null">
        #{isOnlinePay,jdbcType=TINYINT},
      </if>
      <if test="isZx != null">
        #{isZx,jdbcType=VARCHAR},
      </if>
      <if test="uploadStatus != null">
        #{uploadStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuka.domain.SalOrder">
    <!--@mbg.generated-->
    update sal_order
    <set>
      <if test="branchId != null">
        branch_id = #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="danwBh != null">
        danw_bh = #{danwBh,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="isOnlinePay != null">
        is_online_pay = #{isOnlinePay,jdbcType=TINYINT},
      </if>
      <if test="isZx != null">
        is_zx = #{isZx,jdbcType=VARCHAR},
      </if>
      <if test="uploadStatus != null">
        upload_status = #{uploadStatus,jdbcType=TINYINT},
      </if>
    </set>
    where out_order_code = #{outOrderCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuka.domain.SalOrder">
    <!--@mbg.generated-->
    update sal_order
    set branch_id = #{branchId,jdbcType=VARCHAR},
      danw_bh = #{danwBh,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      is_online_pay = #{isOnlinePay,jdbcType=TINYINT},
      is_zx = #{isZx,jdbcType=VARCHAR},
      upload_status = #{uploadStatus,jdbcType=TINYINT}
    where out_order_code = #{outOrderCode,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into sal_order
    (out_order_code, branch_id, danw_bh, create_time, note, is_online_pay, is_zx, upload_status
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.outOrderCode,jdbcType=VARCHAR}, #{item.branchId,jdbcType=VARCHAR}, #{item.danwBh,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=VARCHAR}, #{item.note,jdbcType=VARCHAR}, #{item.isOnlinePay,jdbcType=TINYINT}, 
        #{item.isZx,jdbcType=VARCHAR}, #{item.uploadStatus,jdbcType=TINYINT})
    </foreach>
  </insert>

    <select id="queryOrderByList" resultType="com.kuka.domain.SalOrder">
        select * from sal_order
        <where>
            out_order_code in
            <foreach close=")" collection="orderNos" index="index" item="item" open="(" separator=",">
                #{item}
            </foreach>
        </where>
    </select>
</mapper>