<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuka.dao.SalOrderMapper">
  <resultMap id="BaseResultMap" type="com.kuka.domain.SalOrder">
    <!--@mbg.generated-->
    <!--@Table sal_order-->
    <id column="out_order_code" jdbcType="VARCHAR" property="outOrderCode" />
    <result column="branch_id" jdbcType="VARCHAR" property="branchId" />
    <result column="danwbh" jdbcType="VARCHAR" property="danwbh" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="is_online_pay" jdbcType="TINYINT" property="isOnlinePay" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    out_order_code, branch_id, danwbh, create_time, note, is_online_pay
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sal_order
    where out_order_code = #{outOrderCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from sal_order
    where out_order_code = #{outOrderCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kuka.domain.SalOrder">
    <!--@mbg.generated-->
    insert into sal_order (out_order_code, branch_id, danwbh, 
      create_time, note, is_online_pay
      )
    values (#{outOrderCode,jdbcType=VARCHAR}, #{branchId,jdbcType=VARCHAR}, #{danwbh,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{isOnlinePay,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kuka.domain.SalOrder">
    <!--@mbg.generated-->
    insert into sal_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="outOrderCode != null">
        out_order_code,
      </if>
      <if test="branchId != null">
        branch_id,
      </if>
      <if test="danwbh != null">
        danwbh,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="isOnlinePay != null">
        is_online_pay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="outOrderCode != null">
        #{outOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="branchId != null">
        #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="danwbh != null">
        #{danwbh,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="isOnlinePay != null">
        #{isOnlinePay,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuka.domain.SalOrder">
    <!--@mbg.generated-->
    update sal_order
    <set>
      <if test="branchId != null">
        branch_id = #{branchId,jdbcType=VARCHAR},
      </if>
      <if test="danwbh != null">
        danwbh = #{danwbh,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="isOnlinePay != null">
        is_online_pay = #{isOnlinePay,jdbcType=TINYINT},
      </if>
    </set>
    where out_order_code = #{outOrderCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuka.domain.SalOrder">
    <!--@mbg.generated-->
    update sal_order
    set branch_id = #{branchId,jdbcType=VARCHAR},
      danwbh = #{danwbh,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      is_online_pay = #{isOnlinePay,jdbcType=TINYINT}
    where out_order_code = #{outOrderCode,jdbcType=VARCHAR}
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into sal_order
    (out_order_code, branch_id, danwbh, create_time, note, is_online_pay)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.outOrderCode,jdbcType=VARCHAR}, #{item.branchId,jdbcType=VARCHAR}, #{item.danwbh,jdbcType=VARCHAR}, 
        #{item.createTime,jdbcType=VARCHAR}, #{item.note,jdbcType=VARCHAR}, #{item.isOnlinePay,jdbcType=TINYINT}
        )
    </foreach>
  </insert>

    <select id="queryOrderByList" resultType="com.kuka.domain.SalOrder">
        select * from sal_order
        <where>
            outOrderCode in
            <foreach collection="orderNos" index="index" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </select>
</mapper>